/*div与p标签都可用*/
div,p {
    color:black ;
    width:100px;
    height:100px;
} 
/*div下的p标签可用*/
div p {
    color:green ;
    width:100px;
    height:100px;
} 
/*div下的副标签P可用（紧跟着的）*/
div>p {
    color:blue ;
    width:100px;
    height:100px;
} 
/*平级下的div与p标签可用*/
div+p {
    color:rgb(209, 53, 196) ;
    width:100px;
    height:100px;
} 
/*属性选择器*/
p[name] {
    color:rgb(18, 203, 228) ;
    width:100px;
    height:100px;
} 
/*伪元素选择器*/
p::before {
    content:"before";
} 
p::after {
    content:"after";
} 
body {
    background-image: url('朝俞.jpg');
    /*沿x平铺*/
    /* background-repeat: repeat-x; */
    height:1500px;
    /*固定页面图片，不随之滚动*/
    background-attachment: fixed;
}
.mm {
    font-family: "Microsoft YaHei";
    font-size: 30px;
    /*字体粗细-lighter,normal,bold*/
    font-weight:bold;
    letter-spacing: 10px;
    width:500px;
    background-color: darksalmon;
    /*设置省略号*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
a:link {
    color: blue;
}
a:visited {
    color:purple;
}
a:hover {
    color:red;
}
a:active {
    color:green;
}
.box1 {
    border: 10px solid cadetblue;
    padding: 20px;
    margin: 20px;
    /* display: inline-block; */
    float:left;
}
.box2 {
    border: 10px solid rgb(141, 128, 202);
    padding: 20px;
    margin: 20px;
    /* display: inline-block; */
    float: left;
}