.bj {
    background: url(背景.png) no-repeat;
    height: 170px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header {
    background-color: rgba(255,255,255,0.4);
    color: rgb(34,34,34);
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
}
.container {
    margin: 0 auto;
    width: 100%; 
}
.container::before .clearfix::before {
    content: " ";
    display: table;
}
.container::after .clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/* 主页面头部 */
.header-list {
    width: 600px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 200px;
    font-size: 16px;
    font-weight: 400; 
    padding: 0; 
    margin: 0;
}
.header-list .list-term {
    float: left;
}
.header-list .list-term a {
    display: block;
    line-height: 50px;
    text-align: center;
    padding:0 7px;
    color: #222;
}
.header-list .list-term a i {
    line-height: 50px;
    font-size: 20px;
    color: #00a1d6;
}
.header-list .list-term a:hover,.info-list .term a:hover {
    background-color: #f45d8e;
}
.info-list {
    height: 50px;
    width: 400px;
    position: absolute;
    top: 0;
    right:270px;
    font-size: 16px;
    font-weight: 400; 
    padding: 0; 
    margin: 0;
}
.info-list .term {
    float: left;
}
.info-list .term a {
    display: block;
    line-height: 50px;
    text-align: center;
    padding:0 7px;
    color: #222;
}
.send {
    width: 70px;
    position: absolute;
    top: 0;
    right:200px; 
    padding: 0; 
    margin: 0;
}
.send a {
    display: block;
    color: #fff;
    height: 54px;
    font-size: 16px;
    font-weight: 400;
    background-color: #f45d8e;
    border-radius: 0 0 6px 6px;
    text-align: center;
    line-height: 50px;
}
.search {
    position: absolute;
    top: 100px;
    right: 200px; 
    width: 375px;
    height: 40px;
}
.search .search-form {
    float: right;
    height: 40px;
    width: 280px;
}
.search .search-form .search-text {
    float: left;
    width: 224px;
    padding: 0 12px;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid #fff;
    border-radius: 6px 0 0 6px;
}
.search .search-form .search-btm {
    width: 30px;
    padding: 0;
    line-height: 36px;
    border: 1px solid #fff;
    font-size: 20px;
    background-color: #fff;
    color: #00a1d6;
    border-radius: 0 6px 6px 0;
}
.search .search-form .search-btm:hover {
    color: #f45d8e;  
}
.search .ranking {
    float: left;
    height:36px;
    width: 90px;
    padding: 0;
    line-height: 36px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
}
.search .ranking a {
    display: block;
    float: right;
    width: 60px;
    height:36px;
    font-size: 16px;
    color: #f45d8e;
    text-align: center;
}
.ranking .icon-PCbofangye_paihangbang {
    color: #f45d8e;
    display: block;
    float: left;
    font-size: 25px;
    padding: 0 2px;
}
/* 主页面菜单 */
.menu {
    position: absolute;
    top: 170px;
    left: 0;
    height: 50px;
    padding-top: 8px;
    width: 100%;
}
.menu-choose {
    float: left;
    margin-left: 200px;
    height: 50px;
    width: 1094px;
}
.menu-choose .choose-list {
    float: left;
    height: 50px;
    width: 1078px;
    padding: 0 7px;
    margin: 0;
}
.menu-choose .choose-list .iterm {
    float: left;
}
.menu-choose .choose-list .iterm a {
    display: block;
    margin-right: 15px;
    height: 50px;
}
.menu-choose .choose-list .iterm a .hh {
    display: inline-block;
    color: #222;
    text-align: center;
    font-size: 16px;
    height: 20px;
}
.menu-choose .choose-list .iterm a i {
    padding: 1px 3px;
    line-height: 22px;
    color: #ffafc9;
    font-size: 25px;
    text-align: center;
}
.menu-choose .choose-list .iterm a .num-wrap {
    height: 26px;
}
.menu-choose .choose-list .iterm a .num-wrap span {
    padding: 1px 3px;
    background-color: #ffafc9;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    transform: scale(.85);
    vertical-align: middle;
}